span{
    text-transform: lowercase;
}

.stats span{
    font-weight: normal;
}

h2{
    font-family: 'Crimson Text', serif;
    text-align: center;
    margin-top: 3px;
    font-weight: 1500;
    font-size: 1.9em;
}

h2 a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    padding: 5px 20px;
}

h3{
   font-family: 'Rowdies', cursive;
   font-size: 1.7em;
   margin-bottom: 16px;
   margin-left: 260px;
}



div.info{
   margin: auto;
   padding: 10px;
   height: 350px;
   width: 70%;
   background-color: aquamarine;
   border: 2px solid black;
   margin-bottom: 40px;
}

div.info p{
    font-size: 1.2em; 
    line-height: 23px;
    text-align: left;
    font-weight: bold;
}

div.info .note{
    font-size: 0.8em;
    font-style: italic;
}

div.info img{
    width: 400px;
    height: 300px;
    border: 5px solid navy;
    border-radius: 6px;
}

.kitten{
    position: relative;
    bottom: 180;
}

#ancient-egypt-cat{
    position: relative;
    left: 200;
    bottom: 20;
}

article img{
    float: right;
    width: 200px;
    height: 200px;
    display: block;
   
}

div.info .domestic_cat{
    float: right;
}

article{
    margin: 40px 0;
}

article p{
    text-align: justify;
    margin-left: 260px;
    width: 660px;
    font-family: 'Libre Franklin', sans-serif;
    line-height: 1.6;
    border-right: 3px solid black;
    border-left: 3px solid black;
    padding: 10px;
}
